body{
    background-color:rgb(255, 208, 0);
    font-size: 20px ;
}

#confidence{
    margin-top:150px;
    float: right;
    margin-right: 40px;
    font-size:25;
    color:rgb(54, 56, 161);


}

#score{
    font-size: 30px;
    
    font-weight: bolder;
float: left;
color:rgb(161, 54, 72);

    
}

#timer{
    font-size: 30px;
    float: right;
    margin-right: 10px;
    font-weight: bolder;
    color:rgb(161, 54, 72);

}

#sketch_name{
    color:rgb(22, 63, 54);
    font-weight: bolder;

}
